.container {
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 100%;
  position: relative;
}

.cell {
  margin: 0 auto;
  height: 100vh inherit;
}

.col2 {
  margin-top: 3vh;
}

#start {
  background-color: #FFF;
}

#issue_select {
  background-color: #FFF;
}

#requests {
  background-color: #EF586F;
}

#model_select {
  background-color: #FFF;
}

#color_select {
  background-color: #7BD2F6;
}

#estimate {
  background-color: #6D65AC;
}

button {
  background: none;
  border: none;
}

br {
  line-height: 10vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6vh;
  font-weight: 100;
  text-align: center;
  color: Black;
  margin: 0 auto;
  position: relative;
  padding-top: 10vh;
  font-size-adjust: 5%;

}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  font-weight: 300;
  padding-left: 5vw;
  padding-top: 5vh;
}

p1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 200;
  padding-left: 5vw;
  line-height: 0.5;
  padding-bottom: 3vh;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  font-weight: 300;
  padding-bottom: 10vh;
  line-height: 1;
  color: White;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  font-weight: 300;
  padding-left: 5vw;
  padding-top: 10vh;
  padding-bottom: 0;

}

p2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 200;
  padding-left: 5vw;

}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  font-weight: 300;
  padding-left: 5vw;
  padding-top: 10vh;
  line-height: 1vh;
  color: White;
}

p3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 200;
  padding-left: 5vw;
  line-height: 1vh;
  color: White;
}

p4 {
  font-family: 'Roboto', sans-serif;
  font-size: 8vh;
  font-weight: 300;
  color: White;
  padding-bottom: 2vh;
  text-align: center;
}

p5 {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 100;
  color: white;
  text-align: center;
  display: block;
  vertical-align: middle;
  max-width: 50vh;
}

p6 {
  line-height: 20vh;
  font-size: 7vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: White;
  position: relative;
}

p7 {
  line-height: 25vh;
  font-size: 8vh;
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: White;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  width: 50%;
  max-width: 40vh;
}

#start_button {
  width: 30vh;
  border: 2px;
  border-style: solid;
  border-color: #93CA68;
  padding: 4vh;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 100;
  text-align: center;
  color: Black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

#init_issue {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 10vh;
}

#init_issue button{
  margin: 4vh;
  width: 40%;
  max-width: 200px;
}

#cracked_screen {
width: 20%;
vertical-align: middle;
float: 5% left;
}

#battery_dead {
width: 20%;
vertical-align: middle;
float: 5% right;
}

#cracked_screen img {
width: 100%;
vertical-align: middle;
float: 6% left;
}

#battery_dead img {
width: 100%;
vertical-align: middle;
float: 6% right;
}

#other img{
  width: 100%;
  vertical-align: middle;
}

#other {
    margin: 0 auto;
    padding-bottom: 10vh;
}

#requests {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

#requests textarea[type=text] {
    background: transparent url(http://s24.postimg.org/62v2ipx81/underline.png) repeat;
    border:none;
    height: 15vh;
    width: 50vw;
    overflow: auto;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 300;
    color: #fff;
}

#requests textarea::placeholder {
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 300;
  color: #dfdfdf;
}

#next_button  {
  width: 30%;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#next_button img{
  width: 100%;
  vertical-align: middle;
}

#model_buttons {
  text-align: center;
  margin: 2vh 0 0 0; /*top right bottom left*/
  padding-bottom: 10vh;
  vertical-align: middle;
}

 #model_buttons img {
   width: 60% ;
   height: inherit;
   display: block;
   display: inline-table;
 }

 #model_buttons div{
   padding-top: 3vh;
   display: inline-block;
 }

#model_buttons ul {
  list-style-type: none;
}

#color_choice {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
  width: 100%;
  text-align: center;
  padding: 0;
}

#black_screen {
width: 40%;
vertical-align: middle;
margin-bottom: 20vw;
max-width: 30vh;
padding-right: 5vw;
}

#white_screen {
width: 40%;
vertical-align: middle;
margin-bottom: 20vw;
max-width: 30vh;
padding-left: 5vw;
}

#black_screen img {
width: 100%;
vertical-align: middle;
float: 6vw left;
}

#white_screen img {
width: 100%;
vertical-align: middle;
float: 6vw right;
}

#price_heading {
    text-align: center;
}

#price_display {
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 100%;
  width: 25vh;
  height: 25vh;
  border: 2px solid;
  border-color: White;
  display: block;
}

#last_step  {
  width: 30%;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 10vh;
}

#last_step img{
  width: 100%;
  vertical-align: middle;
}
