.container {
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 100%;
  position: relative;
}

.start {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  position: relative;
  background-color: cf0000;
}

.issue_select {
  margin: 0 auto;
  width: 100%;
  height: 30%;
  position: relative;
}

.requests {
  margin: 0 auto;
  background-color: #EF586F;
  width: 100%;
  height: 172vw;
  position: relative;
}

.model_select {
  margin: 0 auto;
  width: 100%;
  height: 100% inherit;
  position: relative;
}

.color_select {
  margin: 0 auto;
  width: 100%;
  height: 100% inherit;
  position: relative;
  background-color: #7BD2F6;
}

.estimate {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #6D65AC;

}

button {
  background: none;
  border: none;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  width: 50%;
  height: 50%;
  max-width: 600px;
}

#start_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  margin-bottom: 20%;
}

#start_button {
  width: 50%;
  border: 2px;
  border-style: solid;
  border-color: #93CA68;
  padding: 4%;
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  font-weight: 100;
  text-align: center;
  color: Black;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 10vw;
  font-weight: 100;
  text-align: center;
  color: Black;
  margin: 0 auto;
  position: relative;
  padding-top: 15%;
  font-size-adjust: 10%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 300;
  padding-left: 5vw;
  padding-top: 15%;
  padding-bottom: 0;
  line-height: 1;
}

p1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  font-weight: 200;
  padding-left: 5vw;
  padding-top: 0;
  line-height: 0.5;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 300;
  color: White;
  padding-left: 5vw;
  padding-top: 15%;
  margin: 20% 0 0 0;
  position: relative;
  top: 10%;
  left: 0vw;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 300;
  padding-left: 5vw;
  padding-top: 15%;
  line-height: 1;
  margin: 4% auto;
}

p2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  font-weight: 300;
  padding-left: 5vw;
  line-height: 1;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 300;
  color: White;
  padding-left: 5vw;
  padding-top: 15%;
  line-height: 1;
  margin: 4% auto;
}

p3 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  font-weight: 200;
  color: White;
  padding-left: 5vw;
  line-height: 0.5;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 8vw;
  font-weight: 300;
  color: White;
  text-align: center;
  padding-top: 15%;
  line-height: 1;
  margin: 4% auto;
}

p4 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 100;
  color: white;
  padding: 1%;
  margin-top: 20%;
  max-width: 40%;
  text-align: center;
}

#cracked_screen {
width: 20%;
vertical-align: middle;
float: 5% left;
}

#battery_dead {
width: 20%;
vertical-align: middle;
float: 5% right;
}

#cracked_screen img {
width: 100%;
vertical-align: middle;
float: 6% left;
}

#battery_dead img {
width: 100%;
vertical-align: middle;
float: 6% right;
}

#init_issue {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 100%;
  height: auto;
  text-align: center;
}

#init_issue button{
  margin: 4vw;
  width: 40%;
  max-width: 200px;
}
#other img{
  width: 100%;
  vertical-align: middle;
}

#other {
    margin: 0 auto;
}

#requests {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: inherit;
  width: 100%;
  height: 100vh inherit;
  text-align: center;
}

#requests button {
  margin-top: 100%;
  width: 20%;
}

#next_button img {
  width: 100%;
  vertical-align: middle;
}

#next_button {
  margin-top: 0 auto;
}

.col2 {
  margin-top: 5%;
}

 #model_buttons img {
   width: 60% ;
   height: inherit;
   display: inline-block;
 }

 #model_buttons div{
   padding-top: 5%;
   display: inline-block;
 }

#model_buttons {
  text-align: center;
  margin: 10% 0 20% 0;
}

#box {
  margin: 0 auto;
  max-width: 1000px;
}

#color_choice {
  padding-bottom: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16%;
  width: 100%;
  height: auto;
  text-align: center;
}

#black_screen {
width: 40%;
vertical-align: middle;
float: 5% left;
}

#white_screen {
width: 40%;
vertical-align: middle;
float: 5% right;
}

#black_screen img {
width: 100%;
vertical-align: middle;
float: 6% left;
}

#white_screen img {
width: 100%;
vertical-align: middle;
float: 6% right;
}

#estimate {
  margin-top: 0;
}
