.container {
  padding: 0 0 0 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.start {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  position: relative;
}

.issue_select {
  margin: 0 auto;
  width: 100%;
  height: 30%;
  position: relative;
}

.requests {
  margin: 0 auto;
  background-color: #EF586F;
  width: 100%;
  height: 172vw;
  position: relative;
}


.color_select {
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  position: relative;
  background-color: #7BD2F6;
}

button {
  background: none;
}

#welcome {
  font-family: 'Roboto', sans-serif;
  font-size: 10vw;
  font-weight: 100;
  text-align: center;
  color: Black;
  margin: 20% 0 0 0;
  position: relative;
  top: 34%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 50%;
  height: 50%;
}

#start_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 20%;
}

#start_button {
  width: 40%;
  border: 2px;
  border-style: solid;
  border-color: #93CA68;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  font-weight: 100;
  text-align: center;
  color: Black;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 400;
  padding-left: 5vw;
  padding-top: 5vw;
  line-height: 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 300;
  padding-left: 5vw;
  line-height: 0.5;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 300;
  color: White;
  padding-left: 5vw;
  padding-top: 5vw;
  margin: 20% 0 0 0;
  position: relative;
  top: 10%;
  left: 0vw;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-weight: 400;
  padding-left: 5vw;
  padding-top: 5vw;
  line-height: 0;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 300;
  padding-left: 5vw;
  line-height: 0.5;
}

#cracked_screen {
width: 20%;
vertical-align: middle;
float: 5% left;
}

#battery_dead {
width: 20%;
vertical-align: middle;
float: 5% right;
}

#cracked_screen img {
width: 100%;
vertical-align: middle;
float: 6% left;
}

#battery_dead img {
width: 100%;
vertical-align: middle;
float: 6% right;
}

#init_issue {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 100%;
  height: auto;
  text-align: center;
}

#init_issue button{
  margin: 4vw;
  background: none;
  border: none;
  width: 40%;
}
#other img{
  width: 100%;
  vertical-align: middle;
}
#other {
    margin: 0 auto;
}

#requests {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: inherit;
  width: 100%;
  height: 100vh inherit;
  text-align: center;
}
#requests button {
  margin-top: 100%;
  background: none;
  border: none;
  width: 20%;
}
#next_button img {
  width: 100%;
  vertical-align: middle;
}
#next_button {
  margin-top: 0 auto;
}


.model_select {
  margin: 0 auto;
  width: 100%;
  height: 100% inherit;
  position: relative;
}

#model_buttons li{
  padding: 2%;
  list-style: none;
  display: inline-block;
}
 #model_buttons img {
   width: 60%;
 }

#model_buttons {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 100%;
  height: auto;
  text-align: center;
}
